.prompt {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

/*.digit-group {*/
.in-put {
    width: 30px;
    height: 50px;
    background-color: #ff0000;
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: white;
    margin: 0 2px;
}

.splitter {
    padding: 0 5px;
    color: white;
    font-size: 24px;
}
/*}*/

.cookie-preference-btn{
    font-size:12px;
    width:100px;
    border-radius:5px;
    color:brown;
    height:30px;
    border-color:black;
}
.cookie-accept-btn{
    font-size:12px;
    width:101px;
    border-radius:5px;
    height:30px;
    background-color:black;
    border:none;
}