.mainWindow{
    z-index: 3;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding-top: 15px;
    background-color: rgba(255, 0, 0, 0.87);
    box-shadow: 0 0 20px rgba(187, 180, 180, 0.62);
    backdrop-filter: saturate(100%) blur(8px);
    position: fixed;
    border-radius: 10px;
}