.cardWindow{
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.38);
    border-radius: 15px;
    border: none;
    backdrop-filter: saturate(100%) blur(5px);
    width: 250px;
    height: 480px;
    /*transform: rotateY(180deg);*/

}
.cardWindow:hover{
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 5px rgba(0, 55, 255, 0.78);
    border-radius: 15px;
    backdrop-filter: saturate(100%) blur(8px);
    width: 250px;
    height: 480px;
    /*transform: rotateY(0deg);*/
    /*transition: all 1.5s ease;*/
}
.cardWindow:hover .btn{
    height: 60px;
    border: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.57);
    background: linear-gradient(to bottom, #009eff, #0037ff);
    border-radius: 0px 0px 15px 15px ;

}
.title{
    padding-top: 5px;
    color: #344767;
    font-size:20px;
    font-weight:bold;
}
.des_window{
    margin-top: 10px;
}

.price_window{
    margin-top: 5px;
}
.btn_window{
    margin-top: 10px;
}
.list_icon{
    margin-right: 20px;
}
.des{
    margin-top: 10px;
    font-size: 15px;
    color: #7b809a;
}
.list{
    color: #7b809a;
}
.price{
    font-size:20px;
    font-weight:bold;
}
.offer{
    font-size: 20px;
}
.btn{
    width: 200px;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    background: linear-gradient(to left, #009eff, #0037ff);
    border-radius: 5px;
}
/*.btn:disabled{*/
/*    width: 200px;*/
/*    border: none;*/
/*    color: rgba(255, 255, 255, 0.9);*/
/*    background: linear-gradient(to right, rgba(255, 0, 0, 0.6), #ff0000);*/
/*    border-radius: 5px;*/
/*}*/
.backWindowCard{
    border-radius: 20px 20px 0px 0px ;
    /*position: absolute;*/
    width: 100%;
    height: 270px;
    padding-top: 100px;
    background: linear-gradient(to top, #009eff, #0037ff);
    margin-bottom: 300px;
}
